/*==========================================
Global Styles
==========================================*/
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #fffbf2;
  font-family: "Poppins", sans-serif;
}

.maintxt {
  position: relative;
}
.maintxt > img,
.overlay-text {
  position: absolute;
}

.card {
  border-radius: 0.8rem;
}

.card-img-top {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.btn {
  border-radius: 5rem;
}
/*==========================================
Typography
==========================================*/
h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #7b5719;
  font-family: "Poppins", sans-serif;
}

h5 {
  color: #7b5719;
}

p {
  color: #ffffff;
  font-size: 0.8rem;
}

.adopt,
p {
  color: #333333;
  font-weight: 100;
}

*::selection {
  background-color: #f4e2b5;
}

/*==========================================
Global Navigation
==========================================*/

.navbar-toggler {
  border: none;
}

/*==========================================
Banner
==========================================*/

/*==========================================
Footer
==========================================*/
footer {
  background-color: #7b5719;
}

/*==========================================
==========================================
Media
==========================================
==========================================*/
